<ion-view view-title="המלצות">
  <ion-content id="categories">
    <ion-list>
        <div id="search-box" class="bar bar-header item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="חפש קטגוריה..." ng-model="searchText">
                <i class="clear-search icon ion-ios7-close-empty" ng-click="searchText = ''"></i>
            </div>
        </div>
        <ion-item ng-repeat="category in categories | filter:searchText"
                  href="#/tab/products/{{ category.name }}">{{ category.name }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
