<ion-view view-title="הסבר">
    <ion-content id="info">

        <div id="info-header">
            <img />
        </div>
        <p>ברוכים הבאים לאפליקציית <b>בוחרים ביופי</b>, מדריך הצרכנים החדש של האגודה הישראלית נגד ניסויים בבעלי חיים. אנחנו כאן כדי לעזור לכם לבחור מוצרי טיפוח וניקיון שלא נוסו על בעלי חיים כי אנחנו מאמינים שיופי אמיתי מתחיל מלהיות שלמים עם עצמנו ועם הבחירות שלנו.
            רוצים לדעת אם מוצר מסוים נוסה על בעלי חיים? הקלידו את שמו במנוע החיפוש שלנו.
            למידע נוסף על קמפיין <b>בוחרים ביופי</b> בקרו <a href="http://www.choosing.co.il" target="_blank">בדף הקמפיין שלנו</a>.<p>

        <p>תווית הארנב היא תו תקן שנוצר על ידי אנשים מרחבי העולם שבחרו ביופי ובאכפתיות, על מנת לסמן מוצרי טיפוח ונקיון שלא נוסו על בעלי חיים. התווית הפכה לאחת הדוגמאות הבולטות ביותר לכוחה של צרכנות מצפונית ואכפתית.</p>

        <p>בשנים האחרונות נאבקנו נגד מהלך שהובילו החברות המנסות בבעלי חיים, שרצו למחוק את תווית הארנב ולטשטש את ההבדל בין מוצר מוסרי למוצר שכולו אכזריות. הצלחנו להחזיר את תווית הארנב, ומשרד הבריאות גם קבע שהסמכות לקבוע את הקריטריונים לשימוש בתווית היא של הארגונים להגנת בעלי החיים. עם זאת, לא כל החברות שנאלצו להסיר את תווית הארנב הספיקו להחזיר אותה.</p>

        <p>לכן הדרך הבטוחה ביותר לוודא אם מוצר מסוים הוא מוצר שמאפשר לכם לבחור ביופי, היא להקליד את שמו במנוע החיפוש של אפליקציית <b>בוחרים ביופי</b>.</p>

        <div ng-include="'templates/part-contact.html'"></div>
    </ion-content>
</ion-view>
