<ion-view view-title="האגודה">
  <ion-content id="about">
      <img id="aguda-logo" /><br />

      <div id="text">
          <p>האגודה הישראלית נגד ניסויים בבעלי חיים הוקמה בשנת 1983 במטרה להפסיק את ניצול בעלי החיים בתעשיות הניסויים בישראל.</p>

          <p>אנחנו מאמינים שבעלי חיים הם יצורים חשים עם זכויות בסיסיות לחיים ללא סבל ושעבוד, ודוחים את החשיבה המיושנת שלפיה בעלי חיים הם רק כלים לשימוש האדם.      </p>

          <p>אנחנו פועלים כבר למעלה משלושים שנה בדרכים של חינוך והסברה, הפצת מידע, הפגנות, הרצאות, הופעות בתקשורת,פעילות משפטית ופעולות נוספות למען בעלי החיים.</p>
      </div>

      <a class="button button-full" id="website" href="http://www.isav.org.il/%D7%94%D7%A6%D7%98%D7%A8%D7%A4%D7%95%D7%AA-%D7%9C%D7%97%D7%91%D7%A8%D7%95%D7%AA/%D7%AA%D7%A8%D7%95%D7%9E%D7%94" target="_blank">הצטרפו אלינו</a>
      <a class="button button-full" id="website" href="https://www.facebook.com/pages/%D7%94%D7%90%D7%92%D7%95%D7%93%D7%94-%D7%94%D7%99%D7%A9%D7%A8%D7%90%D7%9C%D7%99%D7%AA-%D7%A0%D7%92%D7%93-%D7%A0%D7%99%D7%A1%D7%95%D7%99%D7%99%D7%9D-%D7%91%D7%91%D7%A2%D7%9C%D7%99-%D7%97%D7%99%D7%99%D7%9D/181164475265049" target="_blank">הדף שלנו ב-Facebook</a>
      <a class="button button-full" id="website" href="http://www.isav.org.il/" target="_blank">לאתר ״בוחרים יופי״</a>
      <a class="button button-full" id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.choose.co.il%2F&display=popup&ref=plugin" target="_blank">שתפו ב-Facebook</a>
  </ion-content>
</ion-view>
