<ion-tabs class="tabs-icon-top tabs-stable tabs-color-active-positive">

    <ion-tab title="המדריך" icon-off="ion-ios7-bookmarks-outline" icon-on="ion-ios7-bookmarks" href="#/tab/companies">
        <ion-nav-view name="tab-companies"></ion-nav-view>
    </ion-tab>

    <ion-tab title="המלצות" icon-off="ion-ios7-cart-outline" icon-on="ion-ios7-cart" href="#/tab/categories">
        <ion-nav-view name="tab-categories"></ion-nav-view>
    </ion-tab>

    <!--<ion-tab title="חיפוש" icon-off="ion-ios7-search" icon-on="ion-ios7-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>-->

    <ion-tab title="הסבר" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/info">
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>

    <ion-tab title="האגודה" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

</ion-tabs>
